.riznica-hero {
  height: 800px;
  margin-top: -155px;
  overflow: hidden;
  position: relative;
  #hero-background {
    margin: 0;
    padding: 0;
    div {
      width: 100vw;
      height: 800px;
    }
  }
  #headline {
    position: absolute;
    h1 {
      background: rgba(255, 255, 255, 0.6);
      padding: 1rem 0.5rem;
      color: rgb(136,0,0);
    }
  }
}