
:root {
  --lerp-0: 1;
  --lerp-1: 0.5787037;
  --lerp-2: 0.2962963;
  --lerp-3: 0.125;
  --lerp-4: 0.037037;
  --lerp-5: 0.0046296;
  --lerp-6: 0;
}

.riznica-hero {
  height: 800px;
  margin-top: -155px;
  overflow: hidden;
  position: relative;

  #hero-background {
    margin: 0;
    padding: 0;
    div {
      width: 100vw;
      height: 800px;
    }
  }

  #headline {
    h1 {
      position: relative;
      bottom: 100px;
      display: flex;
      justify-content: center;
      color: white;
    }
  }

}

.three-d-model {
  min-height: unset;
  @media (max-width: 768px) {
    padding: 20px 0;
    margin: 0;
  }
  h2, h3 {
    text-align: center;
    color: white;
    margin-bottom: 0;
    span {
      margin-bottom: 0;
    }
  }
  hr {
    background: white;
  }
}

.riznica-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  h2, h3 {
    text-align: center;
    color: white;
    margin-bottom: 0;
    span {
      margin-bottom: 0;
    }
  }
  h2 {
    @media (max-width: 768px) {
      font-size: 1rem;
    }
  }
  h3 {
    @media (max-width: 768px) {
      font-size: 0.95rem;
    }
  }
  hr {
    background: white;
  }
  .grid-item {
    width: 100%;
    padding: 20px;
  }
  p {
    color: white;
  }
  .MuiDivider-root {
    &:before, &:after {
      border-top-color: rgba(255, 255, 255, 0.82);
    }
  }
  .MuiDivider-root {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .MuiDivider-wrapper {
    margin-bottom: 0;
  }
}