.riznica-hero {
  height: 800px;
  margin-top: -155px;
  overflow: hidden;
  position: relative;
  #hero-background {
    margin: 0;
    padding: 0;
    div {
      width: 100vw;
      height: 800px;
    }
  }
  #headline {
    h1 {
      position: relative;
      bottom: 100px;
      display: flex;
      justify-content: center;
      color: white;
    }
  }
}