@font-face {
    font-family: Pravoslav;
    src: url('../assets/fonts/Pravosla.ttf');
}
:root {
    --black: 0,0,0;
    --red: 155,0,0;
    --full-width: 100%;
    --site-width: 1080px;
    --white: 255,255,255;
    --gold: 201,171,0;
    --pravoslav: Pravoslav;
}
div::-webkit-scrollbar {
    width: 10px;
}
div::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

div::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}
hr:not(.react-divider) {
    margin: 20px auto;
    width: 200px;
    opacity: 1;
}
hr.MuiDivider-vertical {
    height: auto;
}
h1 {
    font-size: 60px;
}
h2 {
    font-size: 48px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--pravoslav);
}
h2 {
    font-size: 48px;
}
a {
    color: rgb(var(--gold));
    font-size: 14px;
    transition: color .3s;
}
a:hover {
    color: rgba(var(--gold), .7);

}
.container {
    margin: 0 auto;
    width: var(--site-width);
}
span {
    margin-bottom: 10px;
    display: block;
}
section, footer {
    display: flex;
    padding: 2rem 0;
    flex-direction: column;
    background: rgb(var(--red));
    width: var(--full-width);
    min-height: 600px;
}
/*---------------------------------------------------HEADER*/
header {
    width: 100%;
    z-index: 3;
    display: flex;
    position: fixed;
    background: rgb(var(--white));
    padding: 0 2rem;
    justify-content: space-between;
    box-shadow: 1px 1px 7px rgba(0,0,0,0.2);
}
header .dropdown:hover>.dropdown-menu {
    display: block;
}
.dropdown-toggle::after {
    display: inline-flex;
}
header .dropdown>.dropdown-toggle:active {
    pointer-events: none;
}
.nav-up {
    top: -140px;
}
header .dropdown-item.active, header .dropdown-item:active {
    background: rgb(var(--red));
}
.navigation {
    padding: 0 2rem;
    width: 100%;
}
#navbar {
    background: var(--white);
}
.nav-link {
    color: rgb(var(--black));
    transition: color 0.4s ease 0s;
}
.nav-link:hover {
    color: rgb(var(--red));
}
.nav-link.active {
    background: rgb(var(--red));
    color: rgb(var(--white));
}
/*---------------------------------------------------HERO*/
#hero {
    padding: 0;
    position: relative;
    overflow: hidden;
    height: 100%;
}
.hero-text {
    top: 50%;
    left: 50%;
    z-index: 2;
    padding: 2rem;
    text-align: center;
    position: absolute;
    transform: translate(-50%, -60%);
    color: rgb(var(--red));
    background: rgba(255,255,255, .7);
}
.container {
    margin: 0 auto;
    width: var(--site-width);
    max-width: var(--full-width);
}
.image-slideshow {
    max-width: var(--full-width);
    height: 100vh;
    position: relative;
    margin: auto;
}
img {
    width: 100%
}
.fade {
    animation-name: fade;
    animation-duration: 4s;
}

/*---------------------------------------------------O HRAMU*/
#o-hramu {
    text-align: center;
    color: rgb(var(--white));
}
#o-hramu p {
    text-align: left;
    max-width: 900px;
    margin: 0 auto;
}
/*---------------------------------------------------GALERIJA*/

#galerija {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: rgb(var(--white));
}

#galerija h2, #galerija hr {
    color: rgb(var(--red));
}
#galerija hr {
    margin-bottom: 20px;
}
/*---------------------------------------------------RASPORED BOGOSLUZENJA*/

#bogosluzenja {
    background: rgb(var(--red));
    text-align: center;
}
#bogosluzenja h2, #bogosluzenja hr {
    color: rgb(var(--white));
}
#bogosluzenja .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#bogosluzenja .container-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#bogosluzenja .kalendar,
#bogosluzenja .danasnji-praznik {
    max-width: 500px;
    background: rgb(var(--white));
    height: fit-content;
}
#bogosluzenja .bogosluzenja-container {
    width: 50%;
    height: auto;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    background: rgb(var(--white));
    min-height: 500px;
}
.bogosluzenja-tabs .MuiTabs-flexContainer {
    justify-content: space-around;
}
.bogosluzenja-container img {
    width: 50px;
    height: 50px;
    margin: 0 auto;
}
.bogosluzenja-container .bogosluzenja-tab-panel {
    text-align: left;
}

.bogosluzenja-tab-panel h4 {
    text-align: center;
}

.bogosluzenja-tab-panel ul {
    list-style: none;
}
.bogosluzenja-tab-panel li {
    font-size: 14px
}

/*--------------------------------------------------- Kalendar*/

#kalendar-praznika {
    z-index: 1;
    overflow: hidden;
    text-align: center;
    position: relative;
    background: url("../assets/images/logo-red.png") round fixed center center;
    background-size: 150px 150px;
}
#kalendar-praznika .white-layout {
    z-index: 2;
    top: -2rem;
    width: 100%;
    position: absolute;
    height: calc(100% + 2rem);
    background: rgba(var(--white), .6);
}
#kalendar-praznika .content {
    position: relative;
    z-index: 3;
}
#kalendar-praznika h2, #kalendar-praznika hr {
    color: rgb(var(--gold));
    margin-top: 0;
}
#kalendar-praznika .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#kalendar-praznika .kalendar,
#kalendar-praznika table,
#kalendar-praznika .danasnji-praznik {
    max-width: 500px;
    background: rgb(var(--white));
    height: fit-content;
}
#kalendar-praznika .danasnji-praznik {
    color: rgb(var(--white));
    background: rgb(var(--red));
}
#kalendar-praznika .kalendar-praznika {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2rem 0;
}
#kalendar-praznika .kalendar-praznika-inner {
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    max-width: var(--site-width);
    justify-content: space-between;
}
#kalendar-praznika .danasnji-praznik {
    font-size: 14px;
}
.kalendar td {
    padding: 5px;
    font-size: 14px;
}
 .kalendar span {
    display: inline;
}
.kalendar tr[align="center"] {
    display: none;
}
.danasnji-praznik img {
    max-width: 200px;
    height: auto;
}
.danasnji-praznik h4 {
    margin-top: 1rem;
}
.danasnji-praznik div {
    padding: 0.5rem;
}
/*---------------------------------------------------PRETRAGA PAROHIJA*/

#pretraga-parohija {
    background: rgb(var(--white));
    text-align: center;
}
#pretraga-parohija .text-box {
    text-align: left;
}
@keyframes fade {
    0% {opacity: .4}
    100% {opacity: 1}
}
#pretraga-parohija a {
    font-size: 16px;
}
#pretraga-parohija .ostale-parohije {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:10px 10px;
    cursor: pointer;
}
.ostale-parohije .ostali-brojevi {
    width: 200px;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.ostale-parohije .ostale-parohije-list-item {
    height: 52px;
}
.ostale-parohije-wrapper .react-divider {
    margin-bottom: 2rem;
}
/*--------------------------------------------------- Footer*/
footer {
    display: flex;
    padding: 2rem 5rem;
    flex-direction: row;
    justify-content: space-between;
}
footer hr:not(.react-divider) {
    margin: 0;
    width: 165px;
    background: rgb(var(--white));
}
footer ul {
    list-style: none;
    padding-left: 0;
}
footer .boxes {
    width: 50vw;
}
footer .boxes.lokacija {
    display: flex;
    padding-left: 5rem;
    flex-direction: column;
}
footer h2, footer h3 {
    color: rgb(var(--white));
}
footer .drustvene-mreze ul {
    display: flex;
}
footer .drustvene-mreze img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
footer .drustvene-mreze a {
    transition: opacity .3s;
}
footer .drustvene-mreze a:hover {
    opacity: .7;
}
.boxes.lokacija .lokacija-wrapper {
    margin-top: 2rem;
}
footer .lokacija-information {
    display: flex;
    align-items: flex-start;
}
.lokacija-information .lokacija-inline {
    margin-right: 2rem;
}
.lokacija-inline p {
    color: rgb(var(--gold));
    margin-bottom: 0;
}
@keyframes fade {
    0% {opacity: .4}
    100% {opacity: 1}
}

/* Small screens (phones) */
@media (max-width: 1080px) {
    :root {
        --site-width: 100%;
    }
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 24px;
    }
    #kalendar-praznika .kalendar-praznika table{
        width: 100%;
        font-size: 10px;
    }
    #kalendar-praznika .danasnji-praznik{
        display: none;
    }
    .nav a {
        font-size: 12px;
    }
    header {
        padding: 0;
    }
    #pretraga-parohija .MuiContainer-root {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    #pretraga-parohija .MuiAutocomplete-root {
        margin-bottom: 20px;
    }

    #pretraga-parohija .ostale-parohije {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 768px) {
    .navigation {
        padding: 5px;
    }
    .container {
        padding: 0 10px;
    }
    footer {
        padding: 10px;
        flex-direction: column;
    }
    footer .boxes {
        width: 100%;
    }
    footer .boxes.lokacija {
        padding-top: 10px;
        padding-left: 10px;
    }
    #bogosluzenja .bogosluzenja-container {
        width: 90%;
    }
    #kalendar-praznika .kalendar, #kalendar-praznika table {
        max-width: 100%;
    }
    .google-map-canvas {
        height: 90%;
        width: 90%;
        max-width: 92%;
        margin: 20px auto 0 auto;
    }
    .carousel {
        height: 100%;
    }
    .carousel-inner {
        height: 100vh;
        width: auto;
    }
    .carousel-item {
        height: 100%;
        width: auto;
    }
    .carousel-item .w-100 {
        height: 100%!important;
        width: auto !important;
        position: relative;
        left: -50%;
        transform: translateX(25%);
    }

    #pretraga-parohija .ostale-parohije {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 640px) {
    #pretraga-parohija .MuiAutocomplete-root {
        width: 310px;
    }
    header {
        top: 0;
        left: 0;
        width: 100%;
        height: 60px;
        display: block;
        position: fixed;
        background: rgb(var(--white));
        z-index: 2000;
    }
    #navbar {
        padding: 0;
    }
    .navbar-brand img {
        width: 40px;
        height: auto;
    }
    .nav {
        position: fixed;
        height: auto;
        right: 0;
        display: block;
        top: 60px;
        width: 50%;
        max-width: 200px;
        background: rgb(var(--white));
    }
    #navbar {
        width: 100%;
        height: auto;
    }
    p, a, li {
        font-size: 12px;
    }
    .kalendar td {
        font-size: 12px;
    }
    #pretraga-parohija .MuiTypography-root {
        font-size: 12px;
    }

    #pretraga-parohija .ostale-parohije {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 390px) {
    footer .lokacija-information {
        flex-direction: column;
    }
    .bogosluzenja-tabs .MuiTabs-flexContainer {
        flex-direction: column;
    }
    .bogosluzenja-tabs .MuiTabs-indicator {
        display: none;
    }
    .bogosluzenja-tabs .MuiList-root {
        padding: 0;
    }

    #pretraga-parohija .ostale-parohije {
        grid-template-columns: repeat(1, 1fr);
    }
}
