.leaflet-popup-content-wrapper {
  border-radius: 0;
  padding: 1rem;

  a {
    color: rgb(var(--gold));
    font-size: 14px !important;
    text-decoration: wavy underline;
    transition: opacity .3s;

    &:hover {
      opacity: .7;
    }
  }

  .top {
    border-bottom: 1px dashed;
    margin-bottom: 15px;
  }
}
